:root {
  --md-text-font: "Inter", sans-serif;
  --md-code-font: "JetBrains Mono", monospace;
  --geam-heading-font: "Lexend", var(--md-text-font);
}

@supports (font-variation-settings: normal) {
  :root {
    --md-text-font: "InterVariable", sans-serif;
  }
}

.md-header__button.md-logo,
.md-nav__button.md-logo {
  display: none;
}

.md-header__title,
.md-nav__title,
.md-nav__item--section > .md-nav__link,
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  font-family: var(--geam-heading-font);
  letter-spacing: 0;
}
